html,
body,
#root {
  width: 100%;
  height: 100%;
  min-width: 920px;
  min-height: 700px;
  overflow: auto;

  * {
    box-sizing: border-box;
  }
}

#root {
  cursor: url("./assets/images/cursor.png"), auto !important;

  ul {
    list-style: none;
    margin: 0 !important;
    padding: 0 !important;
  }

  a,
  button {
    cursor: url("./assets/images/pointer.png"), auto !important;
  }

  .pointer {
    cursor: url("./assets/images/pointer.png"), auto !important;
  }

  input[type="range"] {
    -webkit-appearance: none;
    width: 80px;
    height: 10px;
    border-radius: 20px;
    background: linear-gradient(to right, #66a7ba 0%, #66a7ba 50%, #171a1e 50%, #171a1e 100%);
    outline: none;
    transition: background 50ms ease-in;
    cursor: url("./assets/images/cursor.png"), auto !important;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border: 2px solid #548999;
    border-radius: 50%;
    background: #66a7ba;
    transition: background .3s ease-in-out;
    cursor: url("./assets/images/pointer.png"), auto !important;
  }
}

.App {
  min-width: 1000px;
  width: inherit;
  height: inherit;
  text-align: center;
  background-color: #282c34;
}

@media (prefers-reduced-motion: no-preference) {
  .bear {
    display: inline-block;
    width: 300px;
    height: 300px;

    .App-logo {
      width: inherit;
      height: inherit;

      g {
        animation: App-bear infinite 10s linear;

      }
    }
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-bear {
  0% {
    fill: #F96565;
  }

  10% {
    fill: #A8534B;
  }

  20% {
    fill: #EC9D75;
  }

  30% {
    fill: #F9D697;
  }

  40% {
    fill: #DCE6A7;
  }

  50% {
    fill: #959D6A;
  }

  60% {
    fill: #82AECD;
  }

  70% {
    fill: #41628A;
  }

  80% {
    fill: #9978B4;
  }

  90% {
    fill: #AA6CA0;
  }

  100% {
    fill: #F96565;
  }
}