@keyframes shake {
  0% {
    transform: rotate(-6deg);
  }

  25% {
    transform: rotate(4deg);
  }

  50% {
    transform: rotate(-2deg);
  }

  75% {
    transform: rotate(4deg);
  }

  100% {
    transform: rotate(-6deg);
  }
}

.game-layout-inner {
  width: 895px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  #game-top {
    font-size: 20px;
    font-weight: bold;
    color: #66a7ba;
    padding-right: 56px;

    > div {
      margin-bottom: 10px;
    }

    .replay {
      float: left;
      text-align: left;

      > a {
        width: 100px;
        cursor: pointer;
        height: 35px;

        img {
          width: 30px;
          height: 30px;
          position: absolute;
        }

        &:hover {
          font-size: 22px;
        }
      }
    }

    .score {
      height: 35px;
      float: right;
      text-align: right;


      span {
        border-radius: 20px;
        border: 3px solid #66a7ba;
        margin-left: 10px;
        padding: 0 20px 2px 20px;
      }
    }
  }

  #game-content {
    min-height: 600px;

    > * {
      display: inline-block;
    }

    .no-drag {
      -ms-user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      user-select: none;
      -webkit-user-drag: none;
    }

    .game-table-layout {
      position: relative;

      .detection-area {
        position: absolute;
        z-index: -1;

        &.top {
          width: calc(100% + 110px);
          height: 100px;
          top: -100px;
          left: -55px;
        }

        &.left {
          width: 100px;
          height: 100%;
          top: 0;
          left: -100px;
        }

        &.right {
          width: 100px;
          height: 100%;
          top: 0;
          right: -100px;
        }

        &.bottom {
          width: calc(100% + 110px);
          height: 100px;
          bottom: -100px;
          left: -55px;
        }
      }

      .game-table {
        width: 838px;
        height: 608px;
        background: #282c34;
        border: 3px solid #66a7ba;
        border-radius: 10px;
        padding: 10px;

        td {
          position: relative;

          &.gameover-layout {

            > div {
              margin: 0 auto;
            }

            .gameover-img {
              width: 600px;
              height: 150px;
              background: url("./assets/images/gameover_BG.png");
              background-repeat: no-repeat;
              background-size: cover;

              img {
                width: 100%;
                height: 100%;
                animation: shake 0.8s Infinite;
              }
            }

            .gameover-text {
              position: relative;
              color: #66a7ba;
              font-size: 30px;
              font-weight: bold;
              width: 200px;
              height: 200px;
              background-image: url("./assets/images/jelly_type_6.png");
              background-repeat: no-repeat;
              background-size: contain;

              p {
                position: absolute;
                margin: 0;
                top: 65%;
                left: 48%;
                transform: translate(-50%, -50%);
                width: 80px;
                height: 80px;
                line-height: 80px;
                background: white;
                border-radius: 50%;
              }
            }
          }

          .jelly-img {
            width: 50px;
            height: 50px;
          }

          .jelly-number {
            background: white;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            position: absolute;
            top: 25%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
            text-align: center;
            font-weight: bold;
            color: #616161;
          }

          .area {
            position: absolute;
            border: 1px solid #61dafb;
            background: #66a7ba;
            opacity: 50%;
            z-index: 1;

            &.rightBottom {
              top: 0;
              left: 0;
            }

            &.rightTop {
              bottom: 0;
              left: 0;
            }

            &.leftBottom {
              top: 0;
              right: 0;
            }

            &.leftTop {
              bottom: 0;
              right: 0;
            }
          }
        }
      }
    }


    .timer {
      position: relative;
      width: 30px;
      min-height: inherit;
      border: 3px solid #66a7ba;
      border-radius: 4px;
      margin-left: 20px;

      .timer-inner {
        width: inherit;
        position: absolute;
        background: #66a7ba;
        bottom: 0;
      }
    }
  }
}