.game-layout {
  width: 100%;
  height: 100%;
}

.game-layout-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  #game-top {
    font-size: 20px;
    font-weight: bold;
    color: #66a7ba;
    padding-right: 56px;

    > * {
      display: inline-block;
      width: 50%;
    }

    .replay {
      text-align: left;

      > p {
        width: 100px;
        cursor: pointer;

        img {
          width: 30px;
          height: 30px;
          position: absolute;
        }
      }
    }

    .score {
      text-align: right;

      span {
        border-radius: 20px;
        border: 3px solid #66a7ba;
        margin-left: 10px;
        padding: 0 20px 2px 20px;
      }
    }
  }

  #game-content {
    min-height: 600px;

    > * {
      display: inline-block;
    }

    .no-drag {
      -ms-user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      user-select: none;
      -webkit-user-drag: none;
    }

    .game-table-layout {
      position: relative;

      .detection-area {
        position: absolute;
        z-index: -1;

        &.top {
          width: calc(100% + 110px);
          height: 100px;
          top: -100px;
          left: -55px;
        }

        &.left {
          width: 100px;
          height: 100%;
          top:0;
          left: -100px;
        }

        &.right {
          width: 100px;
          height: 100%;
          top: 0;
          right: -100px;
        }

        &.bottom {
          width: calc(100% + 110px);
          height: 100px;
          bottom : -100px;
          left: -55px;
        }
      }

      .game-table {
        width: 838px;
        height: 608px;
        background: #282c34;
        border: 3px solid #66a7ba;
        border-radius: 10px;
        padding: 10px;

        td {
          position: relative;

          &.gameover-text{
            color: white;
          }

          img {
            width: 50px;
            height: 50px;
          }

          p {
            background: white;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            position: absolute;
            top: 25%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
            text-align: center;
            font-weight: bold;
            color: #616161;
          }

          .area {
            position: absolute;
            border: 1px solid #61dafb;
            background: #66a7ba;
            opacity: 50%;
            z-index: 1;

            &.rightBottom {
              top: 0;
              left: 0;
            }

            &.rightTop {
              bottom: 0;
              left: 0;
            }

            &.leftBottom {
              top: 0;
              right: 0;
            }

            &.leftTop {
              bottom: 0;
              right: 0;
            }
          }
        }
      }
    }


    .timer {
      position: relative;
      width: 30px;
      min-height: inherit;
      border: 3px solid #66a7ba;
      border-radius: 4px;
      margin-left: 20px;

      .timer-inner {
        width: inherit;
        position: absolute;
        background: #66a7ba;
        bottom: 0;
      }
    }
  }
}